html, body {
    cursor: none;
}

body {
	background: #000000;
	color: rgba(255,255,255,0.4);
	font-family: Arial;
	font-size: 40px;
	margin: 0;
	padding 0;
}

input#jerseyNumber {
	position: absolute;
	bottom: 20px;
	background-color: #222;
    color: #ddd;
	border-style: none;
}
#ourTeam:empty, #theirTeam:empty {
   display: none;
}

#ourTeam:not(:empty):before {
    content: 'Bruins';
}

#theirTeam:not(:empty):before {
    content: 'Opponent';
}

#ourTeam, #theirTeam {
	padding: 2%;
}

#ourTeam {
	background-color: #00002a;
}

#theirTeam {
	background-color: #453300;
	text-align: right;
}

.player .jerseyNumber {
	font-size: 0.5em;
	color: #bbb;
}

.player .name {
	color: rgba(255,255,255,1);
}

.player .position {
	font-size: 0.5em;
	color: #bbb;
}